#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 1px solid #1a9305;
  background-color: #9b9191;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
    box-shadow: 10px 10px 10px #999;
}

 #conimg {
  border-radius: 24px;
  border: black solid 10px;
  grid-column: span 12;
  margin-left: 425px;
  transform:translateY(-200px) ;
}


h1 {
  grid-column: span 12;
    border-radius: 24px;
    background-color: #1a9305;
    color: white;
    padding: 20px;
    width: 1100px;
    text-align: center;
    margin-left: 40px;
    text-shadow: 2px 2px 2px #000;
      font-family: "Dosis", sans-serif;
}

nav {
  grid-column: span 12;
}


nav li {
  width: 200px;
}

nav ul {
 list-style: none;
    font-family: "Dosis", sans-serif;
}


#con {
  background-color: #0c3904;
}

nav li a {
  display: block;
  background-color: #1a9305;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 20px;
  color: white;
  text-decoration: none;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
      transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav li a:hover {
  background-color: #0c3904;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 20px;
  color: white;
  text-decoration: none;;
    font-family: "Dosis", sans-serif;
  text-shadow: 2px 2px 2px #000;
}


main {
  grid-column: span 12;
  padding: 20px;
    font-family: "Dosis", sans-serif;
}


main p {
  text-align: center;
  margin-right: 1100px;
  transform:translateY(-200px) ;
}


footer {
  grid-column: span 12;
  background-color: #1a9305;
  border: 10px solid rgb(0, 0, 0);
  color: white;
  padding: 24px;
  width: 1135px;
  box-shadow: 10px 10px 10px #999;
    font-family: "Dosis", sans-serif;
}