#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  height: 100%;
  border: 1px solid #1a9305;
  background-color: #9b9191;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 10px 10px 10px #999;
}


h1 {
  grid-column: span 12;
    background-color: #1a9305;
    color: white;
    padding: 20px;
    width: 700px;
    text-align: center;
    margin-left: 225px;
    border-radius: 24px;
    text-shadow: 2px 2px 2px #000;
      font-family: "Dosis", sans-serif;
}


nav {
  grid-column: span 12;
}

nav ul {
  display: inline-flex;
  gap: 20px;
  text-align: center;
  list-style-type: none;
  padding: 20px ;
  transform:translateY(150px);
}

#web {
    background-color: #0c3904;
}

nav li {
  width: 200px;
  margin-left: 50px;
}

nav li a {
  display: block;
  background-color: #1a9305;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 20px;
  color: white;
  text-decoration: none;;
  text-shadow: 2px 2px 2px #000;
    font-family: "Dosis", sans-serif;
    transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav li a:hover {
  background-color: #0c3904;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 20px;
  color: white;
    font-family: "Dosis", sans-serif;
  text-decoration: none;;
  text-shadow: 2px 2px 2px #000;
}


img {
  grid-column: span 12;
  width: 200px;
  height: 200px;
  transform: translateY(-150px);
  margin-left: 25px;

}
  
  footer {
  grid-column: span 8;
  background-color: #1a9305;
  border: 10px solid rgb(0, 0, 0);
  color: white;
  padding: 24px;
    box-shadow: 10px 10px 10px #999;
      font-family: "Dosis", sans-serif;
  width: 1135px;
  
}
