body {
    background-color: #4f4848;
}

header {
    background-color: #48c033;
}

h1{
    color: #5e21e2;    	
}

h2 {
    color: #ff3366;    	
}

h3{
    color: #b8ce10;    	
}

.pg1p {
    border: 2px dotted #00ffff;
}

